<nav class="navigation">
  <a class="navigation__link navigation__link--homepage" href="index.html">Strona główna</a>
  <div class="navigation__dropdown">
    <a class="navigation__link navigation__dropdown-toggle" href="#">Geeks Club</a>
    <div class="navigation__dropdown-content">
      <a class="navigation__link" href="geeks-club-week1.html">Tydzień 1</a>
      <a class="navigation__link" href="geeks-club-week2.html">Tydzień 2</a>
      <a class="navigation__link" href="breakpointGroups.html">Breakpoint groups export</a>
    </div>
  </div>
  <input type="checkbox" id="toggle" class="navigation__checkbox darkmode--js" />  
  <label for="toggle" class="switch"></label>
</nav>
