<nav class="navigation">
  <a class="navigation__link navigation__link--homepage" href="index.html">Strona główna</a>
  
  <div class="navigation__dropdown">
    <a class="navigation__link navigation__dropdown-toggle" href="#">Geeks Club</a>
    <div class="navigation__dropdown-content">
      <a class="navigation__link" href="geeks-club-week1.html">Tydzień 1</a>
      <a class="navigation__link" href="geeks-club-week2.html">Tydzień 2</a>  
      <div class="navigation__dropdown">
        <a class="navigation__link navigation__dropdown-toggle" href="#">2024</a>
        <div class="navigation__dropdown-content">
          <a class="navigation__link navigation__dropdown-toggle" href="#">Week 46</a>
          <div class="navigation__dropdown-content">
            <a class="navigation__link" href="rider-free.html">Rider Free</a>
            <a class="navigation__link" href="cursor-review.html">Cursor Review</a>
            <a class="navigation__link" href="vscode-ai.html">VS Code AI Models</a>
            <a class="navigation__link" href="package-management.html">Package Management</a>
            <a class="navigation__link" href="nuget-why.html">Dotnet Nuget Why</a>
            <a class="navigation__link" href="debugger-return.html">Debugger Return</a>
            <a class="navigation__link" href="vs-shortcuts.html">VS Shortcuts</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <input type="checkbox" id="toggle" class="navigation__checkbox darkmode--js" />  
  <label for="toggle" class="switch"></label>
</nav>
