@use "sass:meta";

@use "./_variables" as *;
@use "./modules/week-summary";
@use "./modules/navigation";
@use "./modules/geeks-club";

:root {
  --backgroud:  #ffffff;
  --navBackground: #665b5b;
  --color: #333;
  --mainHeaderColor: #7d1d3f;
  --primary-font: 'Roboto', sans-serif;
  --heading-font: 'Montserrat', sans-serif;
}

main{
  margin: 20px;
  }
  
  body {
    background: var(--backgroud);
    color: var(--color);
    font-family: var(--primary-font);
    min-height: 100vh;
    margin: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 100px 2fr;
    column-gap: 16px;
    row-gap: 16px;
    &__element {
    background: tomato;
    padding: 20px;
    color: #fff
    }
  }

  .welcomeNote {
    grid-area: aside;
    text-align: justify;
    text-justify: inter-word;
    font-size: large;
    line-height: normal;
  }
  
  .aside {
    grid-area: article;
  }
  
  .footer {
    grid-area: footer;
    position: absolute;
    bottom: 5px;
  }
  
  .box-model-img {
    width: fit-content;
  }

  
  .smallCode{
    text-align: center;
    &__text{
      border: 1px solid black;
      border-radius: 10px;
      padding: 9px 20px;
      display: inline-block;
      margin: 5px;
      letter-spacing: 1px;
    }
  }
  
  .list {
    list-style: square;
  }
  
  .table {
    width: 100%;
  }
  
  .welcomePage {
    display: grid;
    grid-template-areas: "main-heading main-heading"
     "article aside"
     "footer footer";
     grid-template-columns: 500px 1fr;
     column-gap: 15px;
     row-gap: 16px;
     padding: 0px 80px;
  }
  
  .main-heading {
    font-family: var(--heading-font);
    color: var(--mainHeaderColor);
    grid-area: main-heading;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 0px 0px 0px;
  }
  
  .main-heading::before {
    content: "";
  }

  .secondary-heading {
    text-align: center;
  vertical-align: middle;
  }

  img.center {
    display: block;
    margin: 0 auto;
}
